<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "foundation", "bootstrap", "reference" %>
    <%= javascript_include_tag  "all", "jquery-1.10.2.min", "jquery.cycle.all", "bootstrap.min" %>

</head>

<body class="<%= page_classes %>">


<%= partial "header" %>

<div id="content">
    <div id="blog-content-wrapper">
        <div id="blog-content">
            <%= yield %>
        </div>

        <div id="blog-sidebar">
            <aside>
                <h4>Recent Articles</h4>
                <ol>
                    <% blog.articles[0...10].each do |article| %>
                        <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
                    <% end %>
                </ol>

                <h4>Tags</h4>
                <ol>
                    <% blog.tags.each do |tag, articles| %>
                        <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
                    <% end %>
                </ol>
                <!-- Do not show articles by year -->
                <% if false %>
                    <h4>By Year</h4>
                    <ol>
                        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                            <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
                        <% end %>
                    </ol>
                <% end %>
            </aside>
        </div>
    </div>
</div>



<%= partial "footer" %>

</body>
</html>