<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "foundation", "bootstrap", "reference" %>
    <%= javascript_include_tag  "all", "jquery-1.10.2.min", "jquery.cycle.all", "bootstrap.min" %>

</head>

<body class="<%= page_classes %>">


<header id="header">
    <div id="zone-branding-wrapper">
        <div id="zone-branding">
            <p class="logo">
                <a href="/test_index.html">Rent a team - IT Consulting</a>
            </p>
        </div>
        <div id="zone-menu-wrapper">
            <div id="zone-languages">
                <%= current_page.data.test %>
            </div>
            <div id="zone-menu">
                <ul class="menu">
                    <% data.menu.each do |item| %>
                        <li class="menu-item">
                            <a class="menu-item-link" href="<%= item.link %>"><span class="menu-item-label"><%= item.label %></span></a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

    <div id="zone-ad-wrapper">
        <div id="zone-ad-slider">
            <div id="slideshow">
                <img data-slideshow-overlay="loesungen" src="images/loesungen.png" />
                <img data-slideshow-overlay="projekte" src="images/projekte.png" />
                <img data-slideshow-overlay="consulting" src="images/consulting.png" />

            </div>
            <div id="loesungen" class="slideshow-overlay-left none">
                <h3 class="slide-title">Analyse und Lösungen</h3>
                Wir analysieren bestehende Systeme und finden passende Lösungen.
            </div>
            <div id="projekte" class="slideshow-overlay-right none">
                <h3 class="slide-title">Projekte</h3>
                Projektumsetzung von der Analyse bis zur Abnahme.
            </div>
            <div id="consulting" class="slideshow-overlay-left none">
                <h3 class="slide-title">Consulting</h3>
                Bedarfsorientiere IT-Beratung
            </div>
        </div>
    </div>

</header>

<div id="content">
    <%= yield %>
</div>

<footer id="footer">

</footer>


<script type="text/javascript">
    $('#slideshow').cycle({
        before: onBefore
    });

    function onBefore(previousImage, currentImage, options) {
        if (previousImage) {
            var overlay = $(previousImage).attr('data-slideshow-overlay');

            if (!$("#"+overlay).hasClass('none')) {
                $("#"+overlay).addClass('none');  // disable overlay
            }
        }

        if (currentImage) {
            var overlay = $(currentImage).attr('data-slideshow-overlay');

            if ($("#"+overlay).hasClass('none')) {
                $("#"+overlay).removeClass('none');  // show overlay
            }
        }
    }
</script>

</body>
</html>